html{
    background-image: linear-gradient(45deg,#211F1F,#B0AFAF);
}

.header{
    text-align: center;
}
.grid_container{
    display: grid;
    background: black;    
}
.flex{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.grid_item{
    background-color: white;
    text-align: center;
    width: 50px;
    height: 50px;
    border: 1px solid black;
}