html{
    background-color: lightsteelblue;
}
.header{
    text-align: center;
}
.grid_container{
    display: grid;
    background: black;
    width: 700px;
    height: 700px;    
}

.grid_item{
    background-color: white;
    text-align: center;
    border: 1px solid black;
}
.house{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 700px;
}
.buttons{
    border: 3px solid purple;
    background-color: rgba(175, 80, 238, 0.3);
    border-radius: 15%;
    display: inline-block;
}